html
  head
    title Pares e impares
  body
    form(method='POST' action='/')  
      div.form-group
        label(for='name')
        input#name.form-control(type='text', placeholder='first and last' name='name')
        button.btn.btn-primary(type='submit') Sign up